*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build/
/captures
/.idea/
/key
.externalNativeBuild
/app/src/main/gen/
/app/build/**
/app/release/**
/key/**
/app/release/**
/*/build/
release/
.idea
*.css
*.js
*.html

# Built application files
*.apk
*.ap_
*.aab